<!--videosender.html-->
<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
</head>
<body>
  <h1 id="state">시작하기를 눌러주세요</h1>
	<video id="videoInput" style="display:none"></video>
  <canvas id="videoOutput"></canvas>
  <button onclick="stream()" id="btn">시작하기</button><br>
  <span id="userinfo" style="display: none;">{{userinfo}}</span><br>
  <span id="number" style="display: none;">1</span><br>
  <a href="/check_over" style="display: none;" id="to_over">로그인 하기</a>
</body>
<script>
  const state = document.getElementById("state")
  const userinfo = document.getElementById("userinfo")
  const state_number = document.getElementById("number")
  const btn = document.getElementById("btn")

  var w = 320, h = 240;
	var url = "ws://localhost:4000"
	var ws = new WebSocket(url);
	ws.onopen = function(){
		console.log("Websocket is connected.");
	}
	ws.onmessage = function(msg){
		if (msg.data == "성공") {
      state.innerHTML = "성공"
      state_number.innerHTML = "0"
      document.getElementById("to_over").style ='';
    }
    else if (msg.data == "실패") {
      state.innerHTML = "실패 다시 시도해주세요"
      state_number.innerHTML = "0"
      btn.style = ""
    }
  }


	navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
  var constraints = {audio: false, video: true};
  var video = document.getElementById("videoInput");
  video.width = w;
  video.height = h;
  function successCallback(stream){
  	video.srcObject = stream;
  	video.play();
  }
  
  function errorCallback(error){
   	console.log(error);
  }
  navigator.getUserMedia(constraints, successCallback, errorCallback);
	var canvas = document.getElementById("videoOutput");
  canvas.width = w;
  canvas.height = h;
  var ctx = canvas.getContext("2d");
  function processImage(){
        ctx.drawImage(video, 0, 0, w, h);
        setTimeout(processImage, 1);
  }
  processImage();

  function stream(){
    btn.style = "display: none;"
    state.innerHTML = "얼굴 인식 중...";
    state_number.innerHTML = "1";
    setInterval(sendImage, 30);
  }

  function sendImage(){
    var rawData = canvas.toDataURL("image/jpeg", 0.5);
    var senddata = [rawData, userinfo.innerHTML, state_number.innerHTML]
    ws.send(senddata);
  }
</script>
</html>